@import url('./lazy.css');

@font-face {
  font-family: 'Candyshop';
  src: url('./Candyshop.otf');
  font-display: swap;
}

:root {
  --theme-color: #ff9800;
  --font-fans: 'SF Compact Rounded','PingFang SC','Microsoft YaHei',Lato,sans-serif;
  /* --header-height: max(50vh, 400px); */
  --banner-bg-color: #fff;
  cursor: url('./cursor.png'), default;
}

/* header overall */

.dark .xlog-banner {
    filter: brightness(40%);
}

.xlog-banner img {
    width: auto !important;
}

.xlog-site-name {
    color: var(--theme-color);
    font-family: Candyshop;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff, -1.414px 0 0 #fff, 1.414px 0 0 #fff, 0 -1.414px 0 #fff, 0 1.414px 0 #fff;
    font-size: 35px;
}

.xlog-site-info {
    border: 1px solid #fff;
    transition: .3s ease;
}

.dark .xlog-site-info {
  border: 1px solid var(--border-color);;
}

@media (max-width: 640px) {
    .xlog-site-info {
        padding: 1rem;
    }
}

.xlog-site-description {
  color: #97dffd;
  text-shadow: 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff;
}

.xlog-fab {
  bottom: unset;
  top: 0;
}

.xlog-back-to-top {
    background: url('./scroll.png') center/cover;
    width: 70px;
    height: 900px;
    margin-top: 0;
    opacity: 1;
    border: none;
    right: 50px;
}

.xlog-back-to-top.xlog-fab-inactive {
    transform: translate(0, -900px);
    display: block;
}

.xlog-back-to-top i {
  display: none;
}
